<div class="container">
  <div class="row my-5">
    <div class="col-3 offset-1 d-inline-flex">
      <div class="bg-light px-3">
        <h4 class="m-0">マイページ</h4>
      </div>
    </div>
    <%= link_to "bookmark",bookmarks_customer_path(current_customer),class: "btn btn-outline-secondary"%>
    <%= link_to "献立作成",new_cook_menu_path(current_customer),class: "btn btn-outline-secondary"%>
  </div>



  <div class="row">
    <div class="col-6">
      <table class="table table-borderless mb-1">
        <tbody>
          <tr>
            <td class="px-0 align-middle" style="width: 120px">
              <h5 class="m-0"><%= current_customer.name %></h5>
            </td>
            <td class="px-0 align-middle"><%= link_to "編集する", edit_customer_path(@customer.id), class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="col-8">投稿一覧</h3>
          <% @cooks.each do |cook| %>
          <table class="col-2 table table-borderless table table-sm d-inline-flex m-4 p-0">

            <tr>
              <td><%= image_tag cook.get_image, size: "200x150" %></td>
            </tr>
            <tr>
              <td><%= link_to cook.name, cook_path(cook.id) %></td>
            </tr>
            <tr>
              <td>調理時間:<%= cook.required_time %>分</td>
            </tr>

          </table>
          <% end %>

    </div>
  </div>