<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
        <h4 class="m-0"><%= current_customer.name %> さん
        <%= link_to edit_customer_path(@customer.id), class: "btn btn-outline-secondary" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
        <%= link_to bookmarks_customer_path(current_customer),class: "btn btn-outline-secondary" do %>
        <i class="fas fa-bookmark text-dark"></i> Bookmark List
        <% end %>
        <%= link_to menus_path,class: "btn btn-outline-secondary" do %>
        献立作成
        <% end %>
        </h4>
        <br>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center ">

        <% @cooks.each do |cook| %>
          <div class="col mb-5">
            <div class="card" style="width: 260px;">
              <h3 class="d-inline-flex px-0"><%= image_tag cook.get_image, size: "260x160" %></h3>
              <div class="card-body">
                <div class="text-center">
                <h5 class="fw-bolder"><strong><%= link_to cook.name, cook_path(cook.id),class: 'nav-link text-dark' %></strong></h5>
                <%= cook.tag.name unless cook.tag.nil? %>/
                <%= cook.required_time %>min
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <div class="col-2 offset-5"><%= paginate @cooks %></div>
  </div>
</section>
