 <% unless params["action"] == "new" or params["action"] == "create" %>
  <%= form_with model: cook, url: cook_path(cook), method: :patch do |f| %>
    <div class="taable table-borderless">
      <div style="width: 200px">料理画像</div>
        <%= f.file_field :image,accept: "image/*" %>
      <div style="width: 200px">料理名</div>
        <%= f.text_field :name,placeholder: "料理名",class: "w-100" %>
      <div style="width: 200px">所要時間</div>
        <%= f.text_field :required_time,placeholder: "所要時間（分）",class: "w-100" %>
      <div style="width: 200px">食材</div>
        <%= f.text_area :foods,placeholder: "食材",class: "w-100" %>
      <div style="width: 200px">調理法</div>
        <%= f.text_area :recipe,placeholder: "調理法",class: "w-100" %>
      </div>
      <br>
      <% if @cook.customer == current_customer %>
        <%= f.submit "Update", class: "btn btn-sm btn-outline-info" %>
        <%= link_to "Destroy",cook_path, method: :delete,"data-confirm" => "Are you sure?",class: "btn btn-sm btn-outline-danger" %>
      <% end %>
  <% end %>

<% else %>

  <%= form_with model: @cook,local:true do |f| %>
    <div class="taable table-borderless">
      <div style="width: 200px">料理画像</div>
        <%= f.file_field :image,accept: "image/*" %>
      <div style="width: 200px">料理名</div>
        <%= f.text_field :name,placeholder: "料理名",class: "w-100" %>
      <div style="width: 200px">所要時間</div>
        <%= f.text_field :required_time,placeholder: "所要時間（分）",class: "w-100" %>
      <div style="width: 200px">食材</div>
        <%= f.text_area :foods,placeholder: "食材",class: "w-100" %>
      <div style="width: 200px">調理法</div>
        <%= f.text_area :recipe,placeholder: "調理法",class: "w-100" %>
      <div style="width: 200px">タグ</div>
        <%= f.select :tag_id,tags.pluck(:name, :id),class: "w-100", include_blank: true %>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit "登録", class: "btn btn-outline-dark" %>
    </div>
  <% end %>
<% end %>
<br>
<br>


