<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mr-3v">
      <h4 class="m-0">投稿一覧</h4>
  
          <% @cooks.each do |cook| %>
          <table class="col-2 table table-borderless table table-sm d-inline-flex m-4 p-0">
            <tr>
              <td id="bookmark_buttons_<%= cook.id %>">
              <%= render "public/bookmarks/bookmarks", cook: cook %>
              </td>
            </tr>  
            <tr>
              <td><%= image_tag cook.get_image, size: "200x150" %></td>
            </tr>
            <tr>
              <td><%= link_to cook.name, cook_path(cook.id) %></td>
            </tr>
            <tr>
              <td>調理時間:<%= cook.required_time %>分</td>
            </tr>
            <tr>
              <td>食材:<%= cook.foods %></td>
            </tr>
            <tr>
              <td>調理法:<%= cook.recipe %></td>
            </tr>
            <tr>
              <td>投稿者:<%= cook.customer.name %></td>
            </tr>
          </table>
          <% end %>
      </div>
  </div>
</div>
