<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <% if customer_signed_in? %>
    <h3>Welcome!! <%= current_customer.name %>さん</h3><br>
    <h4>レシピ一覧</h4>
    <% end %>
    <div class="text-right"><%= render 'public/searches/search', cook: @cooks %>
    <br>

    <%= render 'public/tags/tag', tags: @tags %>
    </div>
    <br>
    <div class="row gx-4 gx-lg-2 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <%= render 'public/cooks/index', cook: @cooks %>
    </div>
    <div class="col-2 offset-5"><%= paginate @cooks %></div>
  </div>
</section>

