<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <h4 id="bookmark_buttons_<%= @cook.id %>">
          <!--ブックマーク機能の部分テンプレート-->
          <%= render "public/bookmarks/bookmarks", cook: @cook %>
        </h4>

        <!--画像認識-->
        <% @cook.cook_tags.each do |tag|%>
          <%= tag.name %>
        <%end%>

        <div class="row justify-content-center radius_test"><%= image_tag @cook.get_image, size: "500x400" %></div>
        投稿者:<%= @cook.customer.name %>/投稿日時：<%= @cook.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M:%S") %>
        <div cook-rate data-score="<%= @cook.rate %>"></div>
        </div>

        <script>
          var options = {
              readOnly: true,
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              score: function() {
                  return $(this).attr('data-score');
              }
          }
          var element = document.querySelector("[cook-rate]");
          element.innerHTML = '';
          raty(element, options);
        </script>

        <div class="col-md-6">
          <h1 class="display-5 fw-bolder"><%= @cook.name %></h1>
          <h5><%= @cook.tag.name unless @cook.tag.nil? %></h5>
          <div class="fs-5 mb-5">
            <span class="text-decoration-line-through">
            <h5>調理時間:<%= @cook.required_time %>分</h5>
            </span>
          </div>
          <p class="lead">
            <材料>
            <br>
            <%=safe_join(@cook.foods.split("\n"),tag(:br))%>
            <br>
            <br>
            <作り方>
            <br>
            <%=safe_join(@cook.recipe.split("\n"),tag(:br))%>
          </p>
            <% if @cook.customer == current_customer %>
            <%= link_to "レシピを編集する", edit_cook_path(@cook) %>
            <% end %>
            <!--コメント表示の部分テンプレート-->
            <div id="comments-area"><%= render "public/cook_comments/comment",cook: @cook,cook_comment: @cook_comment %></div>
        </div>
    </div>
  </div>
</section>







