<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <%= image_tag @cook.get_image, size: "450x300" %>
        <br>
        投稿者:<%= link_to @cook.customer.name,admin_customer_path(@cook.customer) %>
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder"><%= @cook.name %></h1>
        <div class="fs-5 mb-5">
          <span class="text-decoration-line-through">
          調理時間:<%= @cook.required_time %>
          </span>
        </div>
        <p class="lead">
          <材料>
          <br>
          <%= @cook.foods %>
          <br>
          <br>
          <作り方>
          <br>
          <%= @cook.recipe %>
        </p>
          <div id="comments-area">
            <%= render "admin/cook_comments/comment",cook: @cook,cook_comment: @cook_comment %>
          </div>
        <!--<%# if @cook_comment.present? %>-->
        <!--  <%# @cook_comment.each do |comment| %>-->
        <!--  <%#= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %><%#= comment.comment %>-->
        <!--  <%#= link_to "削除", cook_cook_comment_path(@cook, comment), method: :delete,remote: true,class: "btn btn-danger pull-right" %>-->
          コメント投稿者:<%#= @cook.customer.name %>
        <!--  <%#= link_to comment.customer.name,admin_customer_path(comment.customer) %>-->
        <!--  <br>-->
        <!--  <%# end %>-->
        <!--<%# end %>-->
      </div>
    </div>
  </div>
</section>






