<div class="container">
  <%= form_with model: @random_menu, url: menus_path, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :title, 'ランダムメニュータイトル' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit '生成', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="container">
  <h4>生成済みメニュー一覧</h4>
  <% @random_menus.each do |random_menu| %>
    <div>
      <%= link_to random_menu.title, menu_path(id: random_menu.id) %>
    </div>
  <% end %>
</div>