<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <%= link_to '<< 一覧に戻る', menus_path %>
    <%= link_to "#{@random_menu.first.title}を消す", menu_path, class: 'btn btn-outline-danger', method: :delete %>

    <h4><%= @random_menu.first.title %></h4>
    <div class="row gx-4 gx-lg-2 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <% @cooks.each_with_index do |cook, index| %>
          <div class="card-wrapper">
            <div class="card-img">
              <%= link_to(cook) do %>
              <%= image_tag cook.image, size: "260x200" %>
              <% end %>
            </div>


                <div class="card-box">
                  <h5 class="col-6">
                <% case index %>
                  <% when 0 then %>
                    <h4>月</h4>
                  <% when 1 then %>
                    <h4>火</h4>
                  <% when 2 then %>
                    <h4>水</h4>
                  <% when 3 then %>
                    <h4>木</h4>
                  <% when 4 then %>
                    <h4>金</h4>
                  <% when 5 then %>
                    <h4>土</h4>
                  <% when 6 then %>
                    <h4>日</h4>
                  <% else %>
                  　ERR
                <% end %>
                <%= link_to cook.name, cook_path(cook), class: "nav-link text-dark" %>
                </h5>
              </div>
          </div>
          <% end %>


          <div class= "text-right">

          </div>
    </div>
  </div>
</section>


