<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <%= link_to '<< 一覧に戻る', menus_path %>
    <div class="row">
      <h2><i class="fas fa-leaf fa-flip-horizontal" style="color:#808D44;" ></i><%= @random_menu.first.title %>
      <i class="fas fa-leaf" style="color:#808D44;" ></i></h2>
    </div>

    <div class= "text-right">
      <%= link_to "#{@random_menu.first.title}を消す", menu_path, class: 'btn btn-outline-danger ', method: :delete %>
    </div>
    <br>

    <div class="row row-cols-xl-4 justify-content-center">
      <% @cooks.each_with_index do |cook, index| %>
      <div class="card-wrapper">
        <div class="card-img">
          <%= link_to(cook) do %>
            <%= image_tag cook.image, size: "260x200" %>
          <% end %>
        </div>

        <div class="row">
          <!--indexと連結  -->
          <% case index %>
            <% when 0 then %>
              <h4>月</h4>
            <% when 1 then %>
              <h4>火</h4>
            <% when 2 then %>
              <h4>水</h4>
            <% when 3 then %>
              <h4>木</h4>
            <% when 4 then %>
              <h4>金</h4>
            <% when 5 then %>
              <h4>土</h4>
            <% when 6 then %>
              <h4>日</h4>
          <% else %>
            ERR
          <% end %>
          <%= link_to cook.name, cook_path(cook), class: "nav-link text-dark" %>
          </h5>
          <br>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>


