<br>
<% cook.cook_comments.each do |cook_comment| %>
  <div>
  <%= cook_comment.comment %>/<%= cook_comment.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M:%S") %>
 
  <% if cook_comment.customer == current_customer %>
    <%= link_to "削除", cook_cook_comment_path(cook_comment.cook, cook_comment), method: :delete,remote: true,class: "text-danger" %>
  </div>
  <% end %>


<% end %>
<%= form_with(model: [cook, cook_comment], local: false) do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメント記入欄"%>
  <%= f.submit "送信",class: "btn btn-outline-dark btn-sm" %>
<% end %>